<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <meta charset="utf-8">
    <title>ByteBook</title>
    <div class="header">
    <h1>ByteBook</h1>
    </div>
  </head>
  <body>
    <div class="navbar" id="home-navbar">
      <a href="#">Home</a>
      <a href="#">My Profile</a>
      <a href="#" class="right">Signup/Login</a>
    </div>
    <div id="create_bit">
      <form action="bits/create" method="post">
        <input type="text" name="post" placeholder="Tell me a BIT about your day">
        <input type="submit" value="Byte me!">
      </form>
    </div>
    <div id="bits">
      <% @bits.each do |bit| %>
      <blockquote class="bit" id="bit-<% bit.id %>">
        <a><%= bit.post %></a></blockquote>
        <% end %>
    </div>
    <h1>bits</h1>
  </body>
</html>
