body {
  background-color: #FFFFFF;
}

.header h1 {
  text-align: center;
  margin-top: 50px;
  color: #505050;
  font-family: 'Press Start 2P', monospace;
  font-size: 40px;
}

nav {
  overflow: hidden;
  background-color: #A9A9A9;
  background: linear-gradient(to bottom, black, black 50%, white 50%, white);
  background-size: 100% 2px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a.left {
  float: left;
}

nav a.right {
  float: right;
}

nav a:hover {
  background-color: #4AD6D6;
}

.create_bit {
  font-family: 'Press Start 2P', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

.card {
  border:2px solid black;
  padding:6px 6px 6px 6px;
  box-shadow:3px 3px 0px darkGrey, inset 2px 2px 0px #fff;
  margin-top: 10px;
  font-family: 'Press Start 2P', monospace;
  text-transform: uppercase;
  color: #fff;
  background-color: #060606;
  font-size: 12px;
}

.card #bit_post  {
  font-weight: bold;
}

.card #bit_post:hover {
  color: #4AD6D6;
}

.card #timestamp {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  font-size: 8px;
}
